footer.page-footer.purple
    .container
        .row
            .col.l7.s12
                h5.white-text About
                p.grey-text.text-lighten-4
                    | Description of the app
            .col.l4.s12
                h5.white-text Something
                ul.white-text
                    li something else
    .footer-copyright.purple.darken-3
        .container
            | Made by
            a.purple-text.text-lighten-3(href='http://aliciasykes.com')  Alicia Sykes
            span  and
            a.purple-text.text-lighten-3(href='http://oliverpoole.com')  Oliver Poole

