extends layout

block head
  link(rel='stylesheet', href='/bower_components/c3/c3.css')
  link(rel='stylesheet', href='/stylesheets/charts.css')


block content

  #index-banner.section.no-pad-bot
    .container
      br
      br
      h1.header.center.purple-text= title
      .row.center
        h5.header.col.s12.light Real-time Sentiment and Insight Analytics on Speech
      .row
        .col.s8.m6.l4.offset-s2.offset-m3.offset-l4.center
          a.btn-large.waves-effect.waves-light.purple.darken-2#get-started(href='#') Get Started
      br
  .container
    .section#theInput(style='display:none')
      .row
        .col.s12.m8
          .input-field
            textarea#textAreaMain.materialize-textarea
            label(for='textAreaMain') Your Speech
        .col.s12.m4.card-panel(style='max-height: 200px; overflow: auto;')
          code#prelim-words

    br
  .section#theResults.grey.lighten-3
    .row
      .col.s12.m3.offset-m1
        .card-panel
          h3 Sentiment Summary
          #power-gauge
      .col.s12.m7
        .card-panel
          h3 Word Cloud
          svg#cloud

    .row
      .col.s12.m3.offset-m1
        .card-panel
          h3 Pace
          p.flow-text#word_rate_label
          p.flow-text words per minute

      .col.s12.m7
        .card-panel
          h3 Pace over Time
          #paceTime

    .row
      .col.s12.m5.offset-m1
        .card-panel
          h3 Entity Extraction
          .preloader-wrapper.big.active.center-block#entityLoader(style='display:block')
              include ./spinner
            .row
              .col.s4#entityResults1
              .col.s4#entityResults2
              .col.s4#entityResults3
              .col.s4#entityResults4
              .col.s4#entityResults5
              .col.s4#entityResults6
              .col.s4#entityResults7
              .col.s4#entityResults8

      .col.s12.m5
        .card-panel
          h3 Highlighter

    .row
      .col.s12.m3.offset-m1
        .card-panel
          h3 Category

      .col.s12.m3
        .card-panel
          h3 Language

      .col.s12.m4
        .card-panel
          h3 Document Terms

block scripts
  script(type='text/javascript', src='/bower_components/d3-word-cloud/index.js')
  script(type='text/javascript', src='/bower_components/c3/c3.min.js')

  script(src="/javascripts/page-actions.js")
  script(src="/javascripts/gauge.js")
  script(src="/javascripts/cloud.js")
  script(src="/javascripts/pace.js")
  script(src="/javascripts/entities.js")
  script(src="/javascripts/sentiment-emitter-bundle.js")
  script(src="/javascripts/speech.js")


