extends layout

block content

  #index-banner.section.no-pad-bot
    .container
      br
      br
      h1.header.center.purple-text= title
      .row.center
        h5.header.col.s12.light Real-time Sentiment and Insight Analytics on Speech
      .row
        .col.s8.m6.l4.offset-s2.offset-m3.offset-l4.center
          a.btn-large.waves-effect.waves-light.purple.darken-2#get-started(href='#') Get Started
      br
  .container
    .section#theInput(style='display:none')
      .row.col.s12
        .input-field
          textarea#textAreaMain.materialize-textarea
          label(for='textAreaMain') Your Speech
    br
  .section#theResults.grey.lighten-3
    .row
      .col.s12.m3.offset-m1
        .card-panel
          h3 Sentiment Summary
      .col.s12.m7
        .card-panel
          h3 Word Cloud

    .row
      .col.s12.m5.offset-m1
        .card-panel
          h3 Entity Extraction

      .col.s12.m5
        .card-panel
          h3 Highlighter

    .row
      .col.s12.m3.offset-m1
        .card-panel
          h3 Category

      .col.s12.m3
        .card-panel
          h3 Language

      .col.s12.m4
        .card-panel
          h3 Document Terms

block scripts
  script(src="/javascripts/page-actions.js")
  script(src="/javascripts/sentiment-emitter-bundle.js")
