nav.purple.lighten-1(role='navigation')
    .nav-wrapper
        a#logo-container.brand-logo(href='#')= title
        ul.right.hide-on-med-and-down
            li
                a(href='#') Source Code
        ul#nav-mobile.side-nav
            li
                a(href='#') Source Code
        a.button-collapse(href='#', data-activates='nav-mobile')
            i.material-icons menu