#index-banner.section.valign-wrapper.index-banner-initial-height
  .container.valign
    .row.center#title-container
      h1.header.center.purple-text= title
      h5.header.col.s12.light Real-time Sentiment and Insight Analytics on Speech
      p Tap the button below to begin the demo
    .row.s10.m6.offset-s1.offset-m3.center#header-instructions(style='display: none')
      span.flow-text Talk into your mic or type into the input field
      p You can tap the button below to pause/ resume at any time
    .row
      .col.s8.m6.l4.offset-s2.offset-m3.offset-l4.center
        a.btn-large.waves-effect.waves-light.purple.darken-2#get-started(href='#') Get Started