footer.page-footer.purple
    .container
        .row
            .col.l7.s12
                h5.white-text About
                p.grey-text.text-lighten-4
                    | This app was built during AngelHack London 2016
                    | The purpose of it was to provide a platform that can be
                    | built on later, that shows real-time analytics of speech.
                    | The technology developed for it could then be put to use
                    | in other areas, such as meeting notes, more inteligent
                    | subtitles etc
            .col.l4.s12
                h5.white-text Something
                ul.white-text
                    li something else
    .footer-copyright.purple.darken-3
        .container
            | Made by
            a.purple-text.text-lighten-3(href='http://aliciasykes.com')  Alicia Sykes
            span  and
            a.purple-text.text-lighten-3(href='http://oliverpoole.com')  Oliver Poole

