extends layout

block head
  link(rel='stylesheet', href='stylesheets/charts.css')


block content
  main

    include banner

    include instant-words

    include dashboard

block scripts
  script(src="javascripts/bundle.js")

