.container
  .section#theInput(style='display:none')
    .row
      .col.s12.m8
        .input-field
          textarea#textAreaMain.materialize-textarea
          label(for='textAreaMain') Your Speech
      .col.s12.m4.card-panel(style='max-height: 200px; overflow: auto;')
        code#prelim-words