.container
  .section#theInput(style='display:none')
    .row
      .col.s12.m8
        .input-field
          textarea#textAreaMain.materialize-textarea
          label(for='textAreaMain') Your Speech
        small Tip: You can say punctuation, try saying 'period', 'comma', or 'new paragraph' etc
        br
        small Capitalization and basic punctuation is added automatically
      .col.s12.m4#word-spiral-container
        #instant-word-spiral