nav.purple.lighten-1(role='navigation')
    .nav-wrapper
        a#logo-container.brand-logo.flow-text(href='#')= title
        ul.right.hide-on-med-and-down
            li
                a(href='#') Source Code
        ul#nav-mobile.side-nav
            li
                a(href='#') Source Code
