nav {
  position: fixed;
  z-index: 10;
}
footer {
  margin: 0 !important;
}
h3 {
  font-size: 2em;
  font-weight: 100;
}
.input-field textarea:focus + label {
  color: #9c27b0 !important;
}
.input-field textarea:focus {
  border-bottom: 1px solid #9c27b0 !important;
  box-shadow: 0 1px 0 0 #e3c4de !important;
}
#get-started:hover {
  border-radius: 20%;
  background: #9c27b0 !important;
}
#get-started.circle {
  width: 9em;
  height: 9em;
  padding: 1.2em;
  font-size: 1.5em;
  line-height: 1.8em;
  border-radius: 100%;
  text-align: center;
}
#get-started.circle i {
  line-height: 1em;
  font-size: 2.2em;
  display: block;
  text-align: center;
}
#get-started.circle #audioImg {
  width: 100%;
  opacity: 0.5;
}
#get-started.circle #audioImg:hover {
  opacity: 1;
}
#highlightedTerms {
  font-size: 1.5em;
}
@media screen and (min-device-width: 1200px) {
  .index-banner-initial-height {
    min-height: 40em;
  }
}
@media screen and (max-device-width: 1200px) {
  html,
  body,
  main,
  .section,
  .index-banner-initial-height {
    height: 100%;
  }
}
/* Sticky Footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

/* (C) Alicia Sykes <aliciasykes.com> MIT License. */